@model Catagory

<form method="post"> 
  <input type="hidden" asp-for="ID" />

  <div>
      <input type="text" asp-for="CatagoryName" />
  </div>
    <div>
        <input type="text" asp-for="Description" />

    </div>
    <div>
        <button class="btn btn-success">Uptade</button>
    </div>

</form>